@charset "UTF-8";

:root {

    --cor00: #2A8C82;
    --cor01: #41BFB3;
    --cor02: #9BF2EA;
    --cor03: #275950;
}

* {
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor03);
    padding-bottom: 12em;
}
header > h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 3em;
}
header > p {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    text-align: justify;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;;

}

.primeiro{
    background-color: var(--cor02);
    padding-bottom: 8em;

}
.primeiro > h2{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 2em;
}
.primeiro > p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    text-align: justify; 
    text-align: center;
    columns: 2;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin:auto;
    
}

main.segundo {
    background-color: var(--cor03);
    padding-bottom: 18em;
    padding-top: 15;
    text-align: center;
    

    
}

main.terceiro {
    background-color: var(--cor02);
    padding-bottom: 8em;
}
.terceiro > h2 {
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 2em;
}
.terceiro > p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    text-align: center;
    text-align: justify;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

div {
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    background-color: var(--cor01);
    width: 280px;
    height: 480px;
    margin-top: 30px;
    margin-block: 10px;
    text-align: justify;
    text-align: center;
   
}
div.a1 > img {
    width: 100%;
   
}
div.a2 > img {
    width: 100%;
    
}
div.a3 > img {
    width: 100%;

    
}

footer {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
footer > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}